.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav a {
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--Light-Grey);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .nav a {
    color: var(--Dim-Grey);
    font-size: 15px;
  }
}
