.nav {
  position: absolute;
  width: 100%;
  top: var(--NavHeight);
  bottom: 0;
  background-color: var(--overScreenNavMobile);
  transition: right 0.3s;
  z-index: 1000;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bgNavMobile);
  width: fit-content;
  height: 100%;
  padding: 64px 32px 24px 32px;
}

@media screen and (min-width: 768px) {
  .nav {
    position: unset;
    background-color: transparent;
  }

  .navWrapper {
    width: 100%;
    flex-direction: row;
    padding: 0;
    height: unset;
    background: transparent;
  }
}
