.info {
  text-align: center;
}

.info img {
  width: 56px;
}

.info h2 {
  margin: 24px 0;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.892857px;
  color: var(--Dark-Navy);
}

.info p {
  color: var(--Dim-Grey);
}

@media screen and (min-width: 768px) {
  .info {
    display: flex;
    text-align: left;
    gap: 79px;
  }

  .info img {
    width: 96px;
  }

  .info h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    margin: 0px 0 27px;
  }
}
