.info {
  text-align: center;
  max-width: 500px;
}

.info img {
  width: 56px;
}

.info h2 {
  margin: 24px 0;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.892857px;
  color: var(--Dark-Navy);
}

.info p {
  color: var(--Dim-Grey);
}

.imgHero {
  width: 240px;
  border-radius: 50%;
  margin: 0 auto -46px;
}

.logo {
  position: relative;
  width: 96px;
  aspect-ratio: 1/1;
  background: var(--Yellow);
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--Dark-Navy);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .info {
    display: flex;
    text-align: left;
    gap: 79px;
    max-width: 700px;
  }

  .info img {
    width: 96px;
  }

  .info h2 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    margin: 0px 0 27px;
  }
}

@media screen and (min-width: 1365px) {
  .info {
    flex-direction: column;
    gap: 40px;
    max-width: 350px;
  }
}
