.member {
  text-align: center;
  background: var(--Snow);
  padding: 36px 32px 32px;
}

.member h4 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.803571px;
  color: var(--Dark-Navy);
}

.member p {
  font-size: 15px;
  line-height: 25px;
  color: var(--Dark-Navy);
  margin: 4px 0 16px;
}

@media screen and (min-width: 768px) {
  .member {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 34px 48px 34px;
  }

  .member h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
  }

  .member p {
    margin: 8px 0 0;
  }
}
