.card {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card .img {
  border-radius: 50%;
}

.card h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.42857px;
  color: var(--Dark-Navy);
  margin-bottom: 32px;
}

.card button {
  margin-top: 32px;
}

.card p {
  color: var(--Dim-Grey);
}

.imgWrapper {
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 10;
}

.a {
  bottom: 0;
}
.b {
  top: 133px;
  left: 0;
}
.c {
  top: 0;
  left: 130px;
}
.d {
  top: -7.5px;
  right: 0;
}
.e {
  top: -7.5px;
  left: -230px;
}
.f {
  top: 180.5px;
}
