:root {
  --Yellow: rgb(252, 183, 43, 1);
  --Dark-Navy: rgb(73, 85, 103, 1);
  --Dim-Grey: rgb(147, 156, 170, 1);
  --Light-Grey: rgb(229, 236, 244, 1);
  --Snow: rgb(242, 245, 249, 1);
  --Light-Yellow: rgb(255, 244, 223, 1);
  --White: #fff;
  --bgNavMobile: rgb(51, 58, 68, 1);
  --overScreenNavMobile: rgba(0, 0, 0, 0.795);

  --NavHeight: 64px;

  --TabletBP: 768px;
  --SideGap: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
}

header {
  position: relative;
  background: var(--White);
  width: 100vw;
  height: var(--NavHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--SideGap);
}

.burger {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.logoHero img {
  width: 75.5px;
}

.navTablet {
  display: none;
}

@media screen and (min-width: 768px) {
  :root {
    --NavHeight: 96px;
    --SideGap: 40px;
  }

  .burger,
  .navMobile {
    display: none;
  }

  .navTablet {
    display: block;
    width: 100%;
  }

  header {
    justify-content: space-between;
    gap: 58.18px;
  }

  .logoHero img {
    width: 107.82px;
  }
}

@media screen and (min-width: 1365px) {
  :root {
    --SideGap: 165px;
  }
}
