.header {
  position: relative;
  width: 100%;
  /* background: tomato; */
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.withContent {
  padding: 115px 32px 178px;
}

.noContent {
  padding: 60px 32px;
}

.whiteCirlces {
  display: none;
}

.backImg {
  width: 100%;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
}

.header h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.78571px;
}

.header p {
  margin: 24px 0 34px;
}

.arrow {
  position: absolute;
  bottom: 45px;
  left: -320px;
}

.line {
  display: none;
}

@media screen and (min-width: 768px) {
  .withContent {
    padding: 137px 98px 217px;
  }

  .noContent {
    padding: 72px 97px;
    text-align: left;
  }

  .whiteCirlces {
    position: absolute;
    display: inline;
    right: -31px;
  }

  .withContent .whiteCirlces {
    bottom: 45.5px;
  }

  .noContent .whiteCirlces {
    bottom: 50%;
    transform: translateY(50%);
  }

  .header h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }

  .header p {
    margin: 24px 0 32px;
  }

  .arrow {
    bottom: 39px;
    left: -127px;
  }
}

@media screen and (min-width: 1365px) {
  .header div {
    width: 500px;
  }

  .header div div {
    padding-left: 95px;
  }

  .withContent {
    padding: 153px 0px 152px 165px;
    text-align: left;
  }

  .noContent {
    padding: 72px 165px;
  }

  .withContent .whiteCirlces {
    bottom: 164.5px;
  }

  .header p {
    margin: 40px 0 40px;
  }

  .arrow {
    bottom: 157px;
    left: 705px;
  }

  .line {
    display: block;
    position: absolute;
    left: 0;
    bottom: 293px;
  }
}
